trigger:
  branches:
    include:
    - main
  batch: True
resources:
  repositories:
  - repository: self
    type: github
    ref: main
  - repository: PowershellRepo
    name: jjbarberio2/Hack-A-Thon-2021-Powershell
    endpoint: jjbarberio2
    type: github
jobs:
- job: Job_1
  displayName: Agent job 1
  pool:
    name: SSBSelfHosted
  steps:
  - checkout: self
    clean: true
  - checkout: PowershellRepo
    clean: true
  - script: dir
  - task: PowerShell@2
    displayName: auto-deploy new and updated scripts
    enabled: True
    inputs:
      filePath: '$(Build.SourcesDirectory)/PowershellRepo/Hack-A-Thon-2021.ps1'
